body {
	padding-top: 10rem;  
	background: linear-gradient(to bottom, rgba(rgb(245, 247, 147),1) 60%, rgba(rgb(223, 189, 95),0) 100%); 
	background-repeat: no-repeat;
}

.site {
	padding: var(--spacing-site, 2em);
	color: rgb(102, 41, 41);

	@at-root #{&}-content {
		max-width: 60rem;
		margin: 2rem auto;
	}
}

body.login-form {
	height: 100vh;
	overflow: hidden;
	padding-top: 0;
	display: flex;
	width: 100%;
	
	.site {
		flex: 1 0 auto;
		border: 4rem solid #FFF;
		display: flex;
		align-items: center;
		justify-content: space-between;
		

		#{&}-header {
			display: none;
			
		}
	}
	.main{
		margin: 10rem auto;
	}
}
.site a{
	text-decoration: none;
	color: rgb(102, 41, 41);
}