$imgItems: (
	"Angebot der Woche": url("{{site.baseurl}}/imgs/[DSCF7303.JPG]"),
	"Sonne und Meer": url("{{site.baseurl}}/imgs/[DSCF7502.JPG]"),
	"Ins Gebirge": url("{{site.baseurl}}/imgs/[DSCF7436.JPG]"),
);

.listing {
	padding: 0;
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		height: 1rem;
		display: block;
		list-style: none outside;
		flex: 0 0 30%;
	
	}

	a {
		display: block;
		border-radius: 0.3em;
		color: rgb(102, 41, 41);
		text-decoration: none;
		padding: 1rem 1.5rem;
		position: relative;
		transition: background 0.3s ease-in, color 0.3s ease-in;
		box-shadow: 0 0 1rem 0 rgba(#000,0.2);
		
		&:before {
			display: block;
			content: '';
			border-radius: 0.3em;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			opacity: 0;
			transition: opacity 0.3s ease-in;
			box-shadow: 0 0 5rem 0.9rem rgba(#000,0.4);

			@each $name, $img in $imgItems {
				background: $img;	
				
			}
		}

		&:hover {
			background: rgb(245, 247, 147);
			font-weight: bold;
			font-style: italic;
			
			&:before {
				opacity: 1;
			}
		}

		& span {
			display: block;
			
		}

		& .title {
			font-weight: bold;
			font-size: 1.2rem;
			padding-bottom: 4rem;
		}
	}
}